@model EntityLayer.Concrete.BlogCategory
@{
    ViewData["Title"] = "update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
        <div class="col-lg-6 mb-4 order-0 mx-auto">
            <div class="card">
                <div class="d-flex align-items-end row">
                    <div class="col-sm-12">
                        <div class="card-body">
                            <h5 class="card-title text-primary">Kategori Düzenleme Sayfası 🎉</h5>
                            <p class="mb-4">

                            </p>
                            <form asp-action="update" asp-controller="AdminBlogCategory" method="post">
                                <div class="form-group">
                                    <input asp-for="ID" type="text" class="form-control" id="defaultFormControlInput" aridescribedby="defaultFormControlHelp" hidden>
                                </div>

                                <div class="form-group mb-3">
                                    <label for="defaultFormControlInput" class="form-control-label">Kategori Adı</label>
                                    <input asp-for="Title" type="text" class="form-control" id="defaultFormControlInput" aridescribedby="defaultFormControlHelp">
                                    <div class="text-danger text-sm ms-2">
                                        @Html.ValidationMessageFor(x => x.Title)
                                    </div>
                                </div>

                                <div class="form-group mb-3">
                                    <label for="stateSelect" class="form-label">Durum</label>
                                    <select asp-for="State" class="form-select">
                                        <option value="true">Aktif</option>
                                        <option value="false">Pasif</option>
                                    </select>
                                </div>

                                <button type="submit" class="btn btn-primary">Bilgileri Kaydet</button>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
